@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Hiragino Sans', 'ヒラギノ角ゴシック', 'Yu Gothic', 'メイリオ', 'Meiryo', sans-serif;
}

@layer base {
  html {
    font-family: 'Hiragino Sans', 'ヒラギノ角ゴシック', 'Yu Gothic', 'メイリオ', 'Meiryo', sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}